{100 "晴"
 101 "晴時々曇"
 102 "晴時々雨"
 103 "晴時々雪"
 110 "晴のち曇"
 111 "晴のち曇"
 112 "晴のち雨"
 114 "晴のち雨"
 200 "曇"
 201 "曇時々晴"
 202 "曇時々雨"
 203 "曇時々雨"
 205 "曇時々雪"
 210 "曇のち晴"
 211 "曇のち晴"
 212 "曇のち雨"
 214 "曇のち雨"
 300 "雨"
 301 "雨時々晴"
 302 "雨時々曇"
 303 "雨時々雪"
 311 "雨のち晴"
 313 "雨のち曇"
 411 "雪のち晴"
 552 "晴時々曇" ;猛暑
 572 "曇時々晴" ;猛暑
 582 "曇のち晴" ;猛暑
 852 "雨時々曇" ;嵐
 862 "雨のち曇"
 }
